* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

h4 {
  font-weight: 500;
  font-size: 14px;
}

p {
  font-size: 12px;
}

strong {
  font-weight: 500;
}

ion-icon {
  color: #000000;
}

.--blue {
  color: #139ef2;
}

/* ************* Header **************** */
header,
.logos,
.headerNavigation {
  display: flex;
  align-items: center;
}

.logos,
.searchBox {
  display: none;
}

#searchInput {
  width: 215px;
  height: 28px;
}

.logosMobile {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.375rem;
  padding: 0 22px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  z-index: 1;
}

header input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  padding: 3px 5px;
}

header input::placeholder {
  font-size: 12px;
  color: #979797;
  text-align: center;
}

.verticalSeparator {
  height: 22px;
  width: 1px;
  margin: 0 10px;
  background-color: #dbdbdb;
  border: none;
}

.logoInstagram ion-icon {
  font-size: 19.25px;
}

.headerNavigation ion-icon,
.headerNavigationDesktop ion-icon {
  font-size: 17.87px;
}

.headerNavigationDesktop {
  display: none;
}

/********** Stories  **********/
#mainSection {
  overflow-x: hidden;
  z-index: 0;
}

.stories {
  display: flex;
  align-items: center;
  margin-top: 78px;
  margin-bottom: 18px;
  padding-left: 18px;
}

.stories button {
  display: none;
  border: none;
  background-color: transparent;
}

.stories button ion-icon {
  color: #fff;
  font-size: 26px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.stories .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 14px;
  font-size: 12px;
  white-space: nowrap;
}

.storiesArrowButton {
  padding-top: 10px;
}

.stories .story .storyBg {
  background-image: url("../assets/stories/stories_background.jpg");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  line-height: 0;
  border-radius: 50%;
}

.stories .story .storyBg img {
  width: 56px;
  border-radius: 50%;
}

.stories .story p {
  font-size: 12px;
  margin-top: 4px;
}

/************ Feed **************/
.feed {
  border-top: solid 1px #dbdbdb;

  width: 100%;
}

.post {
  background-color: #fff;
  width: fit-content;
  margin-bottom: 60px;
}

.post .postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  height: 60px;
}

.post .postTop span {
  display: flex;
  align-items: center;
}

.post .postTop img {
  margin-right: 15px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post .postTop h4 {
  font-size: 14;
  font-weight: 500;
}

.post .postImage {
  width: 100%;
  height: auto;

  background-size: contain;
}

.post .postBottom {
  height: 76px;

  padding: 13px 17px;
}

.post .postBottom .postInteractions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.post .postBottom span {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.post .postBottom span ion-icon {
  margin-right: 18px;
}

.post .postBottom span img {
  margin-right: 5px;
}

/************ Barra Inferior mobile **************/

#mobileBottomBar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;

  height: 54px;
  padding: 0 20px;

  z-index: 1;
}

#mobileBottomBar ion-icon {
  font-size: 17px;
}

/* Sidebar */
#sidebar {
  display: none;
}

/************ Media Querires **************/

/* Styles for screens bigger then 614px */
@media (min-width: 614px) {
  body {
    background-color: #fafafa;
  }

  .logos,
  .searchBox {
    display: flex;
  }

  .logosMobile {
    display: none;
  }

  .headerNavigationDesktop {
    display: flex;
  }

  .headerNavigationDesktop ion-icon {
    font-size: 17px;

    margin-right: 25px;
  }

  #mainSection {
    max-width: 614px;

    margin: 0 auto;
  }

  #mainSection .stories {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    position: relative;
  }

  #mainSection .stories button {
    display: block;
    position: absolute;
    right: 0px;
    top: 20px;
  }

  #mobileBottomBar {
    display: none;
  }
}

/* Styles for screens bigger then 935px */
@media (min-width: 935px) {
  #mainSection {
    margin: initial;
    position: relative;
    left: calc(50vw - 467.5px);
  }

  #sidebar {
    display: initial;
    position: fixed;
    top: 97px;
    left: calc(50vw + 338px - 143.5px);
    z-index: 1;
    max-width: 293px;
    margin-right: 12px;
  }

  /* Sidebar top */
  #sidebar .sidebarTop {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  #sidebar .sidebarTop img {
    width: 56px;
    margin-right: 17px;
    border-radius: 50%;
  }

  #sidebar .sidebarTop > span {
    line-height: 16px;
  }

  #sidebar .sidebarTop > span p {
    font-weight: 300;
  }

  /* Sidebar main content */
  #sidebar .sidebarSugestions > span,
  #sidebar .sidebarSugestions .sidebarSugestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  #sidebar .sidebarSugestions span h4:nth-child(1) {
    color: #8e8e8e;
    font-size: 12px;
  }

  #sidebar .sidebarSugestions span h4:nth-child(2) {
    font-size: 12px;
  }

  #sidebar .sidebarSugestions .sidebarSugestion > div {
    display: flex;
    align-items: center;
  }

  #sidebar .sidebarSugestions .sidebarSugestion .sugestionDescription {
    margin-left: 11px;
  }

  #sidebar .sidebarSugestions .sidebarSugestion .sugestionDescription h4 {
    margin-bottom: 6px;
  }

  /* Sidebar footer */
  #sidebar .sidebarFooter {
    font-size: 11px;
    color: #c7c7c7;
    line-height: 13px;
    margin-top: 33px;
  }

  #sidebar .sidebarFooter p:first-child {
    margin-bottom: 18px;
  }
}
